<div class="page-wrapper">
  <div class="shipping">
    <h1 id="title">Shipping Address</h1>
    <form (ngSubmit)="onSubmit()" #shippingForm="ngForm">
      <mat-form-field id="name">
        <input 
          matInput
          placeholder="Name"
          type="text"
          name="name"
          #name="ngModel"
          [(ngModel)]="shippingInfo.name">
      </mat-form-field>
      <mat-form-field id="phone">
        <input 
          matInput
          #phoneInput
          placeholder="Phone"
          type="text"
          name="phone"
          [value]="formattedNumber"
          (keyup)="parsePhoneNumber(phoneInput.value, $event)">
      </mat-form-field>
      <mat-form-field id="address1">
        <input 
          matInput
          placeholder="Address 1"
          type="text"
          #address1="ngModel"
          name="address1"
          [(ngModel)]="shippingInfo.address1">
      </mat-form-field>
      <mat-form-field id="address2">
        <input 
          matInput
          placeholder="Address2"
          type="text"
          #address2="ngModel"
          name="address2"
          [(ngModel)]="shippingInfo.address2">
      </mat-form-field>
      <mat-form-field id="city">
        <input 
          matInput
          placeholder="City"
          type="text"
          #city="ngModel"
          name="city"
          [(ngModel)]="shippingInfo.city">
      </mat-form-field>
      <mat-form-field id="state">
        <mat-select placeholder="State" #state="ngModel" name="state" [(ngModel)]="shippingInfo.state">
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="zipcode">
        <input 
          matInput
          placeholder="Zipcode"
          type="text"
          name="zipcode"
          #zipcode="ngModel"
          [(ngModel)]="shippingInfo.zipcode">
      </mat-form-field>
      <button type="submit" [disabled]="!(name.dirty && shippingInfo.phone && address1.dirty && address2.dirty && city.dirty && state.dirty && zipcode.dirty)" mat-raised-button color="primary">Place Order</button>
    </form>
  </div>
  <app-checkout-summary>

  </app-checkout-summary>
</div>