<div class="page-wrapper">
  <div class="shipping">
    <h1>Shipping</h1>
    <form (ngSubmit)="onSubmit()" #shippingForm="ngForm">
      <mat-form-field>
        <input 
          matInput
          placeholder="Name"
          type="text"
          id="name"
          name="name"
          #name="ngModel"
          [(ngModel)]="shippingInfo.name">
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput
          #phoneInput
          placeholder="Phone"
          type="text"
          id="phone"
          name="phone"
          [value]="formattedNumber"
          (keyup)="parsePhoneNumber(phoneInput.value, $event)">
      </mat-form-field>
    </form>
  </div>
  <div class="order-summary">

  </div>
</div>