.page-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 50px 0;

    form {
        width: 500px;
        margin: auto;
    
        mat-form-field {
            display: block;
            width: 90%;
            margin: auto;
        }
    
        button {
            margin: 5px 10px;
        }
    }

    .product-detail {
        margin: 0 auto;

        mat-card {
            #product-image {
                width: 400px;
            }
        }
    }

    
}