.page-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0 auto;

    #page-title {
        font-size: 3.5em;
        margin-top: 40px;
    }

    #amount-message {
        margin: 10px 0;
        font-size: 1.5em;
    }

    .shopping-cart-table-wrapper {
        margin: 50px 0;

        #product-description {
            margin: 10px 0;
            display: flex;
            justify-content: flex-start;
    
            #product-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        
            #product-label {
                text-align: left;
                font-size: 1.4em;
                line-height: 102px;
                margin-left: 10px;
            }
        }

        #quantity {
            .mat-raised-button {
                min-width: 10px;
                height: 20px;
                margin: 15px;
                line-height: 20px;
            }
        }

        .last-row {
            height: 57px;
            padding: 0 24px;
            display: flex;
            justify-content: flex-end;

            div {
                line-height: 57px;
                font-size: 1.5em;
            }
        }
    }
}