<h1>Please Enter Product Information</h1>
<div class="form-wrapper">
  <form (ngSubmit)="onSubmitForm(); newProductForm.resetForm()" #newProductForm="ngForm">
    <mat-form-field>
        <input 
        matInput
        placeholder="Model"
        type="text"
        id="model"
        required
        name="model"
        #label="ngModel"
        [(ngModel)]="newProduct.model">
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      placeholder="Label"
      type="text"
      id="label"
      required
      name="label"
      #label="ngModel"
      [(ngModel)]="newProduct.label">
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      placeholder="Sub Label"
      type="text"
      id="subLabel"
      required
      name="subLabel"
      #subLabel="ngModel"
      [(ngModel)]="newProduct.subLabel">
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      placeholder="Price (USD)"
      type="text"
      id="price"
      required
      name="price"
      #price="ngModel"
      [(ngModel)]="newProduct.price">
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput
        placeholder="Description"
        matTextareaAutosize
        matAutosizeMinRows="5"
        id="description"
        required
        name="description"
        #description="ngModel"
        [(ngModel)]="newProduct.description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput
      placeholder="Image URL"
      type="text"
      id="url"
      required
      name="url"
      #url="ngModel"
      [(ngModel)]="newProduct.imageURL">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!newProductForm.form.valid">Submit</button>
    <button mat-raised-button color="primary" [routerLink]="['../']">Cancel</button>
  </form>
</div>
