<header>
  <div class="header-item">
    <img routerLink="/home" id="home-logo" src="https://static.wixstatic.com/media/255d68_053f63add0ff4506bde1887d88c0b575~mv2.jpg" alt="">
  </div>
  <div class="header-item">
    <a class="shopping-cart-link" routerLink="/shopping-cart">Shopping Cart</a>
    <span id="items-in-cart" *ngIf="numItemsInCart">{{numItemsInCart}}</span>
  </div>
  <div *ngIf="appUser; else anonymousUser" class="header-item">
    <div class="user-menu" [matMenuTriggerFor]="userMenu">
      <span>{{ appUser.name }}</span>
      <mat-icon>account_box</mat-icon>
    </div>
    <mat-menu class="user-menu-content" #userMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>My Orders</button>
        <button *ngIf="appUser.isAdmin" mat-menu-item [routerLink]="['/admin/manage-orders']">Manage Orders</button>
        <button *ngIf="appUser.isAdmin" mat-menu-item [routerLink]="['/admin']">Manage Products</button>
        <button mat-menu-item (click)="logout()">Log Out</button>
      </ng-template>
    </mat-menu>
  </div>
  <ng-template #anonymousUser>
    <div class="header-item">
      <a routerLink="login">Login</a>
    </div>
  </ng-template>

</header>