
.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;

  mat-card {
    max-width: 400px;
    margin: 20px 0;
    color: rgb(56, 56, 56);
  
    #product-image {
        width: 400px;
    }
  
    .price {
        margin-top: 5px;
        font-size: 1.2em;
    }

    mat-card-footer {
      width: 100px;
      margin: auto;
      cursor: pointer;

      .mat-button {
        width: 100px;
        color: white;
        height: 40px;
        border-top: 1px solid #e2e2e2;
        background: #cde1e9;
        font-size: 1.3em;
      }
    }
  }
}