<ul class='catalog-wrapper'>
  <mat-card *ngFor="let product of filteredProducts">
    <img mat-card-image [src]="product.imageURL">
    <mat-card-title>{{product.brand}} - {{product.label}}</mat-card-title>
    <mat-card-subtitle>{{product.subLabel}}</mat-card-subtitle>
    <mat-card-content>{{product.price | currency:'USD'}}</mat-card-content>
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="addToCart(product)">Add to Cart</button>
    </mat-card-footer>
  </mat-card>
</ul>