/* You can add global styles to this file, and also import other style files */
@import "reset.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cdk-overlay-pane {
    top: 30px !important; 
}

html, body {
    font-family: 'Oxygen', sans-serif;
    color: rgb(56, 56, 56);
}
