.page-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    .category-wrapper {
        display: inline-block;
        position: fixed;
        width: 300px;
        height: 100vh;

        .category-selector ul {
            width: 90%;
            margin: 20px auto;
            height: 40px;
            line-height: 40px;
            padding: 10px;
            font-size: 1.5em;
            overflow: hidden;
            background: rgb(204, 225, 233);
            display: table;
            border-radius: 10px;
            border: 3px solid rgb(145, 145, 145);

            li {
                border-top: 2px solid rgb(202, 202, 202);
                cursor: pointer;
                padding: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                user-select: none;

                &:first-of-type {
                    border-top: none;
                }

                svg-icon {
                    position: relative;
                    top: 4px;
                }

            }
        }
    }

    app-catalog {
        margin-left: 350px;
        display: table;
    }
}